{% extends "base.html" %} {% block title %}login{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'loginStyle.css')}}">

<form action="/reset-password" method="post">
    <input type="hidden"  name="email" value="{{ email }}" required>

    <label for="security-question"> security question:</label>
    <p id="security-question">{{ security_question }}</p>

    <label for="security-answer"> security answer:</label>
    <input type="text" id="security-answer" name="security-answer" required>

    <label for="new-password"> new password:</label>
    <input type="password" id="new-password" name="new-password" required>
    <button type="submit">reset password</button>

</form>
{% endblock %}